<h2 mat-dialog-title>Edit Project</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Period</mat-label>
      <input matInput placeholder="2017 - 2019" [(ngModel)]="period">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Technologies</mat-label>
      <textarea matInput placeholder="Ex. Spring ..." [(ngModel)]="technologies" style="width: 500px; height: 300px"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="onSaveClick()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
