.add-button-row {
  height: 52px;
}

.mat-card-class {
  display: table-cell;
  min-width: 350px;
  padding: 20px;
}

.example-full-width {
  width: 100%;
}

.mat-textarea {
  min-height: 200px;
}

.mat-content {
  width: 100%;
  height: 100%;
}

.group-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.mat-list-button {
  padding-right: 16px;
}

.mat-list-button {
  margin-left: auto;
}

.full-width {
  white-space: normal;
}

mat-card mat-card-header mat-card-subtitle H3 {
  font-weight: bold;
  margin-left: 20px;
  color: #353535;
}

mat-card-subtitle h4 {
  font-weight: bold;
  color: #353535;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
}

mat-card-actions button mat-icon, mat-card-actions button {
  font-size: 18px;
  center: true
}
mat-card-actions button {
  font-size: 14px;
  height: 45px;
  margin-left: 4px;
  margin-bottom: 10px;
}

/* Font Definitions */
.word-section {
  font-family: 'Mulish', sans-serif;
  color: #353535;
  width: 100%;
  max-width: 718px;
}

.word-section table.aff {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.word-section td {
  padding: 20px;
  border: 1px solid white;
  vertical-align: top;
}

.word-section .left-column {
  max-width: 200px;
  min-width: 200px;
  border-right: 1px solid #C32B3B;
}

.word-section .right-column {
  min-width: 300px;
  max-width: 380px;
  border-left: 1px solid #C32B3B;
}

.word-section h2 {
  font-size: 14px;
  font-weight: bold;
  color: #353535;
  margin-bottom: 3px;
  line-height: 1;
}

.word-section h1 {
  font-size: 14px;
  color: #C63031;
  margin-bottom: 10px;
  line-height: 1;
}

.word-section p, .word-section p span {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.3;
}

.word-section ul {
  font-size: 14px;
  list-style-type: disc;
  margin: 10px 0 10px 20px;
  padding: 0;
}

.word-section ul li {
  line-height: 1.3;
  color: #C63031;
}

.word-section ul li span {
  color: #353535;
}
