<div style="display: flex;">
  <mat-card style="width: 500px; height: 450px; margin-right: 20px;">
    <form [formGroup]="importGroup" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-subtitle>Input group name & technologies</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Group Name</mat-label>
              <input matInput placeholder="Ex. Backend" formControlName="groupName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Technologies</mat-label>
              <textarea matInput placeholder="Ex. Spring ..." formControlName="technologies" class="mat-textarea"></textarea>
            </mat-form-field>
          </div>
        </section>
      </mat-card-content>
      <div style="display: flex">
        <mat-card-actions style="flex: 0;">
          <button mat-button class="add-button-row" type="submit">ADD</button>
        </mat-card-actions>
        <mat-card-actions style="flex: 1">
          <button mat-button class="add-button-row" type="button" (click)="addAllTechnologies()">ADD ALL</button>
        </mat-card-actions>
          <mat-card-actions style="flex: 1">
          <button mat-fab extended="true" class="add-button-row" type="button" (click)="removeAll()">
            <mat-icon>delete</mat-icon>REMOVE ALL
          </button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card>
  <mat-card style="flex: 1;  height: 80vh; overflow-y: auto;">
    <mat-card-content>
      <mat-list *ngFor="let group of groups">
        <div class="group-item">
          <mat-list-item>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span matLine style="font-weight: bold">{{ group.name }}</span>
              <button mat-icon-button (click)="editGroup(group)" class="mat-list-button">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteGroup(group)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-list-item>
            <span matListItemLine>{{group.technologies}}</span>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
